* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.2rem solid black;
}

button {
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

#nav-links {
    display: none;
}

#nav-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    height: 100dvh;
    width: 50dvw;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: black;
}

#nav-close-btn {
    align-self: flex-end;
    padding: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#about-list {
    min-height: 50dvh;
}

#about-list > li {
    display: none;
}

#about-list > li.appear {
    display: flex;
    flex-direction: column;
    align-items: center;
}
