@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    background-color: #CECECE;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.2rem solid black;
}

#nav-open-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    padding: 0.8em;
    background-color: inherit;
    border: none;
}

.nav-ham {
    height: 2px;
    width: 1rem;
    background-color: #000;
}

#nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    height: 100dvh;
    width: 50dvw;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #CECECE;
    transform: translateX(100%);
    transition: transform 0.2s ease;
    box-shadow: -5px -5px 10px hsla(0, 0%, 100%, 0.37),
                5px 5px 10px hsla(0, 0%, 0%, 0.37);
}

#nav-links.open {
    transform: translateX(0);
}

#nav-links > a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: #000;
    padding: 0.2em;
    padding-block: 0.5em;
    width: 80%;
    text-align: center;
    border-radius: 0.2em;
    box-shadow: -5px -5px 10px hsla(0, 0%, 100%, 0.37),
                5px 5px 10px hsla(0, 0%, 0%, 0.37);
}

#nav-links > a:active {
    transform: scale(0.9);
    box-shadow: inset -2px -2px 10px #FFF,
                inset 2px 2px 10px #000;
}

#nav-close-btn {
    border: none;
    background-color: inherit;
    align-self: flex-end;
    padding: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    min-height: 80dvh;
}

#about-list > li {
    display: none;
}

#about-list > li.appear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-btn {
    font-family: "Nunito Sans", sans-serif;
    border-radius: 50%;
    background-color: #CECECE;
    backdrop-filter: blur(10px);
    padding: 2em;
    border: none;
    box-shadow: -2px -2px 10px #FFF,
                2px 2px 10px #000;
    transition: transform 0.1s ease;
}

#about-btn:active {
    transform: scale(0.9);
    box-shadow: inset -2px -2px 10px #FFF,
                inset 2px 2px 10px #000;
}
